{
  "smtp": {
    "username": "John",
    "password": "Doe",
    "host": "smtp.example.com",
    "port": "25"
  },
  "rcpt": "john.doe@example.com",
  "formData": {
    "name": "c_name",
    "email": "c_email",
    "message": "c_message"
  },
  "addr": ":8080"
}
